django
djangorestframework
PyJWT == 2.1.0
djangorestframework-simplejwt == 4.8.0

pillow
exifread
piexif

GPSPhoto
drf-yasg
django-allauth
dj_rest_auth
django-cors-headers
gevent

django-storages
boto3

celery
redis
django_celery_beat
django_celery_results

coverage

hypothesis
hypothesis[all]

gunicorn

psycopg2-binary

celery

#Yolo v5 requirements.txt
# base ----------------------------------------
# matplotlib>=3.2.2
# numpy>=1.18.5
opencv-python>=4.1.2
# Pillow
PyYAML==5.4.1
# scipy>=1.4.1
torch>=1.10.1
torchvision>=0.11.2
tqdm>=4.41.0
tensorboard>=2.7.0
cv
setuptools<=59.5.0
matplotlib>=3.2.2
Pillow>=7.1.2

# plotting ------------------------------------
seaborn>=0.11.0
pandas

pymongo==3.12.1
djongo

hypothesis
hypothesis[all]

django-test-without-migrations
django-request-logging

requests